{{define "confirm"}}
{{template "header" .}}
<form class="form-signin" action="?" method="post"><br/>
    <i class="fas fa-unlock lock-icon text-success"></i>
    <h1 class="h3 mb-3 font-weight-normal text-muted">muzzleflash>>> login</h1>
    <input name="redirect" value="{{.Redirect}}" type="text" hidden/>
    <input name="confirmed" value="yes" type="text" hidden/>
    <p class="text-muted">By clicking the 'Enter' button you will be taken to '{{.Redirect}}'.</p>

    <button class="btn btn-lg btn-secondary btn-block" type="submit">Enter<i class="fas fa-key"></i></button>
</form>
{{template "footer" .}}
{{end}}