{{define "control"}}
{{template "header" .}}
<form class="form-signin" action="?" method="post"><br/>
    <i class="fas fa-unlock lock-icon text-success"></i>
    <h1 class="h3 mb-3 font-weight-normal text-muted">muzzleflash>>> cp</h1>
    <p class="text-muted">Hello '{{.Username}}'.</p>
</form>
{{template "footer" .}}
{{end}}