{{- /*gotype: gitlab.com/T4cC0re/muzzleflash/authentication.DialogData*/ -}}
{{define "header"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>muzzleflash>>></title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
              integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
              crossorigin="anonymous">
        <style>
            html,
            body {
                height: 100%;
            }

            body {
                display: -ms-flexbox;
                display: -webkit-box;
                display: flex;
                -ms-flex-align: center;
                -ms-flex-pack: center;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-pack: center;
                justify-content: center;
                padding-top: 40px;
                padding-bottom: 40px;
            }

            footer {
                display: block;
                position: absolute;
                bottom: 0;
            }

            .form-signin {
                width: 100%;
                max-width: 330px;
                padding: 15px;
                margin: 0 auto;
            }

            .form-signin .form-control {
                position: relative;
                box-sizing: border-box;
                height: auto;
                padding: 10px;
                font-size: 16px;
            }

            .form-signin .form-control:focus {
                z-index: 2;
            }

            .form-signin input[type="email"] {
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            .form-signin input[type="password"] {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }

            .lock-icon {
                font-size: 5rem;
                margin-bottom: 15px;
            }

            .btn .fas {
                display: inline;
                position: relative;
                margin: -0.625rem;
                left: 1.25rem;
            }

            .btn {
                padding-right: 2.75rem;
            }

            .header {
                display: block;
                position: absolute;
                top: 1.25rem;
                right: 1.25rem;
            }
        </style>
    </head>
    <body class="text-center bg-dark">

    <div class="header">
        {{ if .Username }}
            <a class="btn btn-lg btn-secondary btn-block" href="/-/muzzleflash/auth/logout">Logout<i class="fas fa-lock"></i></a>
            {{/* <p class="mt-3 text-muted">Session time: xyz sec.</p> */}}
        {{- end}}
        {{ if .Hostname }}<p class="mt-3 text-muted">Host: {{.Hostname}}</p>{{- end}}
    </div>
{{end}}