{{define "login"}}
    {{template "header" .}}
<form class="form-signin" action="?" method="post"><br/>
    <i class="fas fa-lock lock-icon text-danger"></i>
    <h1 class="h3 mb-3 font-weight-normal text-muted">muzzleflash>>> login</h1>
    {{if .Error}}
        <p class="mt-3 mb-3 text-danger text-center">{{.ErrorText}}</p>
    {{- end}}
    <label for="inputUsername" class="sr-only">Username/Email address</label>
    <input name="username" value="{{.Username}}" id="inputUsername" class="form-control {{if .Error}}is-invalid{{- end}}" placeholder="Username/Email" required autofocus type="text"><br/>
    <label for="inputPassword" class="sr-only">Password</label>
    <input name="password" id="inputPassword" class="form-control {{if .Error}}is-invalid{{- end}}" placeholder="Password" required type="password"><br/>
    <input name="redirect" value="{{.Redirect}}" type="text" hidden/>
    {{ if .Redirect}}
        <p class="text-muted">You will be redirected to '{{.Redirect}}' after login.</p>
    {{- else}}
        <p class="text-muted">You will stay on this page after login.</p>
    {{- end}}

    <button class="btn btn-lg btn-secondary btn-block" type="submit">Login<i class="fas fa-key"></i></button>
</form>
    {{template "footer" .}}
{{end}}